<style>
    .my-card:hover{
    background:rgb(40,114, 51);
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
</style>
<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card">
            <div class="card-header bg-warning text-dark">
                Informacion
            </div>
            <div class="card-body">
                <marquee behavior="" direction="">
                    <h3 class="my-4">Nueva Informacion</h3>
                </marquee>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-header bg-warning text-dark">
                Estadisticas
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'personal' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Perfil <i class="fas fa-users"></i></h4>
                                 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'productos' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Productos <i class="fas fa-box"></i></h4>
                                    
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'pedido' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Pedidos <i class="fas fa-shipping-fast"></i></h4>
                                    <h3></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>