<div class="container">
    
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <form method="POST">
                           
                            <input class="btn btn-info btn-block" type="submit" value="Make Request">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Orders Records
                    </div>
                    <div class="card-body">
                        <table class="table bg-white">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th scope="col">Productos</th>
                                    <th scope="col">mis Categoria</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>


                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>Juan</td>
                                    <td>656656</td>
                                    <td>aanjn7887</td>
                                    <td>aanjn7887</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
</div>

